<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wu.mydemo">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <!--登录页面-->
        <activity android:name=".function.login.LoginActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页面-->
        <activity android:name=".main.MainActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:label="功能页面"/>

        <!--沉浸式页面-->
        <activity android:name=".function.immerse.ImmerseActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:label="沉浸式" />

        <activity android:name=".function.immerse.ColorImmerseActivity"
            android:label="纯色着色沉浸"/>

        <activity android:name=".function.immerse.BgImmerseActivity"
            android:label="背景沉浸"/>

        <!--说明页面-->
        <activity android:name=".function.readme.ReadMeActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:label="说明" />

        <activity android:name=".function.toggleButton.ToggleButtonActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:label="开关"/>

        <!--滑动返回页面-->
        <activity android:name=".function.swipeBack.MySwipeBackActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:label="滑动返回" />

        <!--滑动删除页面-->
        <activity android:name=".function.swipeListDelete.SwipeListDeleteActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:label="滑动删除" />
        <!--音乐播放-->
        <activity android:name=".function.music.MusicActivity"
            android:label="音乐播放"/>
        <!--图片选择-->
        <activity android:name=".function.pictureSelect.PictureSelector"
            android:label="图片选择"/>

        <activity android:name=".function.bottomNavBar.BottomNavBarActivity"
            android:label="底部导航栏"/>

        <activity android:name=".function.okhttp3.OkhttpActivity"
            android:label="网络请求"/>

        <activity android:name=".function.lunbo.ImagePagerActivity"
            android:label="轮播图"/>

        <activity android:name=".function.photoview.ViewPagerActivity"></activity>
        <activity android:name=".function.photoview.PhotoViewActivity"></activity>
        <activity android:name=".function.photoview.PhotoViewDetailActivity"
            android:theme="@style/FullScreenTheme"/>

        <activity android:name=".function.shareView.ShareViewActivity"/>
        <activity android:name=".function.slidingMenu.SlidingMenuActivity"/>
        <activity android:name=".function.coordinatorLayout.CoordinatorLayoutActivity"/>
        <activity android:name=".function.coordinatorLayout.WithAppbarActivity"/>
        <activity android:name=".function.coordinatorLayout.WithCollapsingActivity"/>
        <activity android:name=".function.pushRefresh.PushRefreshActivity"/>
        <service android:name=".function.music.service.MusicService"/>

    </application>

</manifest>